.CurrencyExchange {
  width: 500px;
  //height: 600px;
  background: #ffff;
  border-radius: 30px;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 27px 2px rgba(97, 97, 97, 0.75);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}